Baby-Ecommerce-Interface/WebContent/wsdl/SellerInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getSellerInformation">
    <complexType>
     <sequence>
      <element name="productID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSellerInformationResponse">
    <complexType>
     <sequence>
      <element name="getSellerInformationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSellerInformationRequest">

      <wsdl:part element="impl:getSellerInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSellerInformationResponse">

      <wsdl:part element="impl:getSellerInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SellerInfo">

      <wsdl:operation name="getSellerInformation">

         <wsdl:input message="impl:getSellerInformationRequest" name="getSellerInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSellerInformationResponse" name="getSellerInformationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SellerInfoSoapBinding" type="impl:SellerInfo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSellerInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSellerInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSellerInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SellerInfoService">

      <wsdl:port binding="impl:SellerInfoSoapBinding" name="SellerInfo">

         <wsdlsoap:address location="http://localhost:8080/Baby-Ecommerce/services/SellerInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
